* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.Comics .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 100px;
}

/* Create four equal columns that sits next to each other */
.Comics .column {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 15px;
}

.Comics .column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}






/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 1000px) {
  .Comics .row{
    padding: 0 30px;
  }
  .Comics .column {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
  }
}


@media screen and (max-width: 700px) {
  .Comics .row{
    padding: 0 30px;
  }
  .Comics .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .Comics .row{
    padding: 0 30px;
  }
  .Comics .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}