/* List Card Start  */

.homepage-list, .homepage-stats{
  padding-left: 150px;
  padding-right: 150px;
}

.homepage-list-columns h2{
  margin-top: 64px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  color: #000000;
  margin-left: 20px;
  margin-bottom: 24px;
}

.homepage-list-columns{
  display: -ms-flexbox; 
  display: flex;
  -ms-flex-wrap: wrap; 
  flex-wrap: wrap;
  padding: 0 150px;
}

.homepage-list-photo{
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  max-width: 20%;
  padding: 0 15px;
}

.homepage-list-photo img{
  margin-top: 25px;
  /* vertical-align: middle; */
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .homepage-list-columns{
    padding: 0 30px;
  }
  .homepage-list-photo{
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
  }
  .homepage-list, .homepage-stats{
    padding-left: 50px;
    padding-right: 50px;
  }
}


@media screen and (max-width: 700px) {
  .homepage-list-columns{
    padding: 0 30px;
  }
  .homepage-list-photo{
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .homepage-list, .homepage-stats{
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .homepage-list-columns{
    padding: 0 30px;
  }
  .homepage-list-photo{
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .Second .content h1{
    font-size: 1.8rem;
  }
}
