.Card .image img{
    width: 100%;
}

.Card .content{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: rgba(27, 31, 30, 0.7);
}
  
.Card .content h1{
    margin: -7px 16px auto 16px;
}