*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

.publish_banner{
    background: rgba(42, 45, 54, 0.7);
    text-align: center;
}

.publish_banner .banner_title{
    padding-top: 122px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
}

.publish_banner .banner_desc{
    margin-top: 7px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 175.18%;
    color: #FFFFFF;
}

.publish_banner .get_started{
    width: 208px;
    height: 49px;
    margin-top: 40px;
    background: #2BC5B4;
    border-radius: 24.5px;
    cursor: pointer;
}

.publish_banner .getstarted_desc{
    margin-top: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 175.18%;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 106px;
}

.shortcut-nav{
    /* max-width: 100%;
    min-width: 940px; */
    width: 100%;
    height: 60px;
    text-align: center;
    line-height: 60px;
    background-color: white;
    border-bottom: 1px solid #d6d6d6;
}

.shortcut-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcut-nav ul li{
    list-style: none;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 60px;
    margin-left: 24px;
}


.publish_sec, .community_sec{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}

.publish_sec_desc{
    margin-top: 205px;
    font-style: normal;
    font-family: Open Sans;
    color: #000000;
}

.publish_sec_desc h1, .community_sec_desc h1, .studio_komiki_desc h1, .submit_sec_desc h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 54px;
}

.publish_sec_desc p, .community_sec_desc p, .studio_komiki_desc p, .submit_sec_desc p{
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-top: 16px;
}

.publish_sec_desc img{
    margin-top: 40px;
}

.publish_sec_img{
    margin-top: 137px;
}

.community_sec_desc{
    margin-top: 234px;
}

.community_sec_img{
    margin-top: 160px;
}

.studio_komiki{
    margin-left: 191px;
    margin-right: 150px;
    display: flex;
    justify-content: space-between;
}

.studio_komiki_img{
    margin-top: 160px;
}

.studio_komiki_desc{
    margin-top: 160px;
}


.submit_sec{
    display: flex;
    margin-left: 176px;
    margin-right: 183px;
    justify-content: space-between;
    margin-bottom: 100px;
}

.submit_sec_desc{
    margin-top: 100px;
}

.submit_sec_img{
    margin-top: 100px;
}

.submit_sec_desc button{
    width: 223px;
    height: 49px;
    border: 1px solid #2A2D36;
    box-sizing: border-box;
    border-radius: 24.5px;
    margin-top: 40px;
}